---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ADAA APS — Associazione per la Divulgazione Astronomica e Astronautica',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Diventa Socio', href: '/diventa-socio', icon: 'tabler:download' }}
    callToAction2={{ text: 'Abbonati a Spazio Magazine', href: '/spazio-magazine' }}
    image={{ src: import('~/assets/images/adaa.png'), alt: 'ADAA Logo' }}
  >
    <Fragment slot="title">
      Associazione per la Divulgazione
      <span class="text-accent highlight"> Astronomica</span> e Astronautica
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        "Chi ha provato il volo camminerà guardando il cielo, perché là è stato e là vuole tornare"
        <span class="font-semibold sm:block">Leonardo da Vinci</span>
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <Content
    tagline="PLANETARIO ITINERANTE"
    title="Uno strumento didattico straordinario"
    items={[
      {
        title: 'Spettacolari animazioni sferiche in full HD',
        description: 'Lorem ipsum',
      },
      {
        title: 'Lezioni e spettacoli specifici per ogni tipo di pubblico',
        description: 'Lorem Ipsum',
      },
      {
        title: 'Soluzioni personalizzate a costi contenuti',
        description: 'Lorem Ipsum',
      },
    ]}
    image={{
      src: import('~/assets/images/planetario.jpg'),
      alt: 'Alsat',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    tagline="ALSAT#1 | STRATOSPHERA"
    title="Il satellite Cubesat di ADAA nello spazio!"
    isAfterContent
    items={[
      {
        title: 'Quota di 40.000 metri',
        description:
          'Durante il raggiungimento della quota di 40.000 metri inizieranno i test, in particolare come prima cosa l’avvio del software e hardware di gestione (OBC) e la verifica di tutti gli automatismi riguardo all’accensione del microchip e relativo sensore di radiazioni, registrazione e trasmissione dei dati riguardanti l’esperimento in tempo reale.',
      },
      {
        title: 'Oltre i 40.000 metri',
        description:
          "Il pallone esploderà ed il carico rientrerà a terra grazie a un paracadute. L'esperimento sarà svolto in sicurezza, previa richiesta delle opportune autorizzazioni all’ENAC, in un luogo opportunamente scelto: dovrà essere distante da centri abitati, aeroporti, infrastrutture critiche come strade e edifici governativi.",
      },
      {
        title: 'Un grande concorso',
        description:
          'Coinvolgere università e istituti scolastici in un grande concorso che richiede la comunicazione diretta degli studenti con il satellite in transito sopra l’istituto, o direttamente presso la nostra sede. Il premio finale del concorso sarà consegnato direttamente dalle mani di una personalità del mondo astronautico',
      },
    ]}
    image={{
      src: import('~/assets/images/alsat.jpg'),
      alt: 'Alsat',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title:
          'Gl studi preparatori e la collaborazione con le Università (Politecnico di Milano e Supsi, Svizzera) ha già prodotto diverse Tesi Universitarie coinvolgendo numerosi studenti e dottorandi.',
      },
      {
        title: 'Signal processing per sistemi LEO',
      },
      {
        title: '15 settembre 2018 presso Ceriano Laghetto',
      },
      {
        title: "il testimonial del progetto è stato l'astronauta Alfred Worden",
      },
    ]}
    image={{
      src: import('~/assets/images/alsat-proto.jpg'),
      alt: 'Rendering Alsat',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Le Astro-Star che ADAA Ha portato in Italia!"
    items={[
      {
        title: '15-16 Ottobre 2016 - Alfred Worden',
        description:
          'Per la prima volta in Italia! Pilota del modulo di comando durante la  missione lunare Apollo 15, 1971.',
        icon: 'tabler:package',
      },
      {
        title: '29-30 Aprile 2017 - Charlie Duke',
        description: 'Decimo uomo ad aver camminato sul nostro satellite nel corso della missione Apollo 16.',
        icon: 'tabler:letter-case',
      },
      {
        title: '11-12 novembre 2017 - Walter Cunnigham',
        description:
          'È stato uno degli astronauti di Apollo 7 che volò attorno alla Terra a partire dall’11 ottobre 1968.',
        icon: 'tabler:paint',
      },
    ]}
    image={{
      src: import('~/assets/images/legendsApollo.png'),
      alt: 'Legends of Apollo',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    tagline="FAQs"
    items={[
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: "What's an example of when you changed your mind?",
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Alsat Altitudine', amount: '48 km' },
      { title: 'Progetti', amount: '9' },
      { title: 'Soci', amount: '43' },
      { title: 'N. Spazio Magazine', amount: '23' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Scarica le istruzioni',
      href: '#',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Dona il <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">5 x 1000</span>
    </Fragment>

    <Fragment slot="subtitle">
      Sostieni i progetti ADAA con un semplice ma efficace contributo. <br class="hidden md:inline" />Non sprecare il
      tuo 5x1000
    </Fragment>
  </CallToAction>
</Layout>
